@import "/home/antony/Documents/my-projects/javascript-Html/angular-portfolio/node_modules/bourbon/core/_bourbon.scss";
@import url('https://fonts.googleapis.com/css?family=BioRhyme:400,700&display=swap');
//colors
$white: #fff;

*,
*:before,
*:after {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
@mixin abstlycenter($w,$h){
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -($w*0.5);
	margin-top: -($h*0.5);
}

@mixin a($width, $height: 55px){
	width: $width;
	height: $height;
	line-height: $height;
	@include abstlycenter($width, $height);
}

@mixin clip($string){
	-webkit-clip-path: $string;
	clip-path: $string;
}
@mixin grab{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
// keyframes mixin
@mixin keyframe($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}

.landing-right{
  background-color: #F26430;
  height: 100vh;
}

.landing-left{
  background-color: #F26430;
}
.landing-txt{
  color: lavender;
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
}
.ml8{
  font-size: 5rem;
  font-family: 'BioRhyme', serif;
}
.ml4{
  font-size: 3rem;
}
.ml2{
  font-size: 1rem;
}
.icons-social i {
  font-size: 2rem;
  padding: 10px;
  color: #02040F;
}

//button css
.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.container{ 
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center; 
  
  @media (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
  }
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
  @media(min-width: 600px) {  
    margin: 0 1em 2em;    
  }
  
  &:hover { text-decoration: none; }
  
}
.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}


//Nairobi animation start
section.p16 {
  height: 350px;
  width: 94%;
  // box-shadow: 0px 0px 146px 21px rgba(0, 0, 0, 0.75);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 0px;
}
section.p16 a {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 4.875em;
  font-weight: 900;
  color: #fff;
}
section a:after, section a:before {
  content: '';
}
section.p16 {
 background-color: #F26430;
}
section.p16 a {
  width: 632px;
  height: 124px;
  line-height: 124px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -316px;
  margin-top: -62px;
  z-index: 10;
  overflow: hidden;
}
section.p16 a:before, section.p16 a:after {
  position: absolute;
  left: 0;
  display: block;
  height: 150px;
  background-size: contain;
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.64, 1.55);
  -moz-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.64, 1.55);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.64, 1.55);
  opacity: 0;
  top: 50px;
}
section.p16 a:before {
  background-image: url("/assets/images/chicago.png");
  width: 1772px;
  z-index: -1;
  -webkit-animation: chicaum 60s infinite linear;
  -moz-animation: chicaum 60s infinite linear;
  animation: chicaum 60s infinite linear;
}
section.p16 a:after {
  background-image: url("/assets/images/chicago.png");
  width: 1682px;
  z-index: 1;
  -webkit-animation: chicadois 30s infinite linear;
  -moz-animation: chicadois 30s infinite linear;
  animation: chicadois 30s infinite linear;
}
section.p16 a:hover:before, section.p16 a:hover:after {
  opacity: 1;
  top: 0;
}
section.p16 a:hover:before {
  transition-delay: .2s;
}
@-webkit-keyframes chicaum {
  from {
    -webkit-transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-886px);
  }
}
@-moz-keyframes chicaum {
  from {
    -moz-transform: translate(0px);
  }
  to {
    -moz-transform: translate(-886px);
  }
}
@keyframes chicaum {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-886px);
    -moz-transform: translate(-886px);
    -ms-transform: translate(-886px);
    -o-transform: translate(-886px);
    transform: translate(-886px);
  }
}
@-webkit-keyframes chicadois {
  from {
    -webkit-transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-841px);
  }
}
@-moz-keyframes chicadois {
  from {
    -moz-transform: translate(0px);
  }
  to {
    -moz-transform: translate(-841px);
  }
}
@keyframes chicadois {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-841px);
    -moz-transform: translate(-841px);
    -ms-transform: translate(-841px);
    -o-transform: translate(-841px);
    transform: translate(-841px);
  }
}
