.landing-right{
  background-color: #F26430;
  height: 100vh;
}

.landing-left{
  background-color: #F26430;
}
.landing-txt{
  color: lavender;
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
}

.icons-social i {
  font-size: 3em;
  padding: 10px;
  color: #02040F;
}
