<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 landing-left">
      <div class="landing-txt">
        <h1 class="ml8">HI!</h1>
        <H2 class="ml4">I'M ANTONY MAINA</H2>
        <H4 class="m2">A WEB AND ANDROID DEVELOPER</H4>
      </div>
      <section class="button">
        <div class="container">
          <a href="" class="btn btn-5">contact me</a>
        </div>
      </section>
    </div>
    <div class="col-sm-6 landing-right">
      <section class="p16" id="p16">
        <a href="">NAIROBI</a>
      </section>
      <div class="icons-social">
        <a target="_blank" href=""><i class="fab fa-github"></i></a>
        <a target="_blank" href=""><i class="fab fa-twitter"></i></a>
        <a target="_blank" href=""><i class="fab fa-stack-overflow"></i></a>
        <a target="_blank" href=""><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href=""><i class="fab fa-medium"></i></a>
        <a target="_blank" href=""><i class="fab fa-free-code-camp"></i></a>
        <a target="_blank" href=""><i class="fab fa-behance"></i></a>
        <a target="_blank" href=""><i class="fab fa-codepen"></i></a>
      </div>
    </div>
  </div>
</div>