<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 landing-left">
      <div class="landing-txt">
        <h1 class="ml8">HELLO</h1>
        <H2 class="ml8">I'M ANTONY MAINA</H2>
        <H4 class="ml8">A WEB AND ANDROID DEVELOPER</H4>
      </div>
      <button type="button" class="btn btn-light">CONTACT ME</button>
    </div>
    <div class="col-sm-6 landing-right">
      <div class="icons-social">
        <a target="_blank" href=""><i class="fab fa-github"></i></a>
        <a target="_blank" href=""><i class="fab fa-twitter"></i></a>
        <a target="_blank" href=""><i class="fab fa-stack-overflow"></i></a>
        <a target="_blank" href=""><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href=""><i class="fab fa-medium"></i></a>
        <a target="_blank" href=""><i class="fab fa-free-code-camp"></i></a>
        <a target="_blank" href=""><i class="fab fa-behance"></i></a>
        <a target="_blank" href=""><i class="fab fa-codepen"></i></a>
      </div>
    </div>
  </div>
</div>